@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&display=swap&subset=latin-ext');

* {
	box-sizing: border-box;
}

:root {
	--bg: #eee;
	--b2: #fff;
	--b3: #ddd;
	--fg: #000;
	--f2: #999;

	--accent: #6fc;
	--radius: 7px;

	margin: 0;
	padding: 0;
}

/* 
@media (prefers-color-scheme:dark) {
	:root {
		--bg: #000;
		--b2: #333;
		--b3: #555;
		--fg: #fff;
		--f2: #666;
	}
} */

body {
	padding: 4rem 2rem;
	margin: 0;
	height: 100%;
	width: 100%;
	font: 300 15px/19px 'IBM Plex Mono', monospace;
	display: flex;
	flex-flow: column;
	justify-content: stretch;
	background-color: var(--bg);
	color: var(--fg);
	user-select: none;
}

input,
select,
button {
	font: inherit;
	padding: 0.5rem 1rem;
	border: none;
	color: var(--fg);
	background-color: var(--b2);
	display: block;
	width: 100%;
	min-width: 0;
}

label {
	font-size: 12px;
	position: relative;
	background-color: var(--b2);
	color: var(--f2);
	height: 2.75rem;
	padding: 0.25rem 1rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

label>input,
label>select {
	font-size: 1rem;
	line-height: 2rem;
	padding: 0.75rem 1rem 0 1rem;
	position: absolute;
	background: transparent;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

button>div {
	font-size: 12px;
	line-height: 1em;
}

button:disabled {
	filter: grayscale(75%) contrast(25%) brightness(175%);
}

input:focus-visible,
select:focus-visible,
button:focus-visible {
	outline: none;
	box-shadow: inset 0 -3px 0 0 var(--accent);
}

input:hover:not(:focus-visible):not(:disabled),
select:hover:not(:focus-visible):not(:disabled),
button:hover:not(:focus-visible):not(:disabled) {
	box-shadow: inset 0 -1px 0 0 var(--accent);
}

#editor {
	display: grid;
	grid-template-columns: minmax(10rem, 20%) 1fr;
	grid-template-areas: 'font glyph' 'variant glyph';
	flex-direction: row;
	align-items: flex-start;
	gap: 1rem;
}

#font-panel {
	grid-area: font;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	/* grid-template-areas: 'name name name name' 'first first last last' 'xmin xmin xmax xmax' 'ymin ymin ymax ymax'; */
	display: grid;
	border-radius: var(--radius);
	overflow: hidden;
	gap: 1px;
}

#font-panel>button {
	padding: 0;
	height: 2.75rem;
}

#font-panel>label {
	grid-column: auto / span 2;
}

#font-panel>label.font-name {
	grid-column: 1 / -1;
}

#variant-panel {
	grid-area: variant;
	display: flex;
	flex-direction: column;
}

#glyph-panel {
	grid-area: glyph;
	position: relative;
}

.variant {}

.variant-config {
	display: grid;
	grid-template-columns: 1fr 1fr;
	overflow: hidden;
	gap: 1px;
	border-radius: var(--radius);
}


.variant-config-style {
	min-width: 0;
}

.variant-config-ystep {
	min-width: 0;
}

.variant-glyphs {
	margin-top: 1rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(3rem, auto));
	gap: 2px;
	border-radius: var(--radius);
	overflow: hidden;
}

.variant-glyphs>.preview {
	aspect-ratio: 1;
	background-color: var(--b2);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: 80%;
	background-position: top right;
	background-repeat: no-repeat;
}

.variant-glyphs>.preview:hover {
	box-shadow: inset 0 -1px 0 0 var(--accent);
}

.variant-glyphs>.preview::after {
	content: attr(data-char);
	position: absolute;
	top: 0;
	left: 0;
	/* background-color: var(--bg); */
	font-size: 12px;
	font-weight: 700;
	line-height: 12px;
	padding: 0 3px 2px 0;
	border-bottom-right-radius: var(--radius);
}

.variant-glyphs>.preview.selected {
	box-shadow: inset 0 -3px 0 0 var(--accent);
}

/* .variant-glyphs>.preview.selected::after {
	background-color: var(--fg);
	color: var(--bg);
} */

#onionskin,
#canvas,
#guides {
	position: absolute;
	width: 100%;
}

canvas {
	width: 100%;
	image-rendering: pixelated;
	border-radius: var(--radius);
}